.cover__subtitle {
    max-width: 360px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 2;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 273px;
}
}